:root {
  --main-bg-color: #232323;
  --gray-one: #424242;
  --gray-two: #555555;
  --main-red: #F65261;
  background-color: var(--main-bg-color);
  color: white;

}

label {
  color: var(--main-red);
  text-transform: uppercase;

}

button {
  border-radius: 3px;
  padding: 10px 20px;
  border: solid 1px;
  border-color: var(--main-red);
  text-transform: uppercase;
  margin: 3px;
}

.btn-primary {
  background-color: var(--main-red);
  color: wheat;
}
.btn-secondary {
  background-color: var(--main-bg-color);
  color: var(--main-red);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: var(--gray-one);
  color: white;
  border: 1px solid;
  border-color: var(--gray-one);
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: var(--gray-one);
  color: white;
  border: 1px solid;
  border-color: var(--gray-one);
}

body {
  margin: 0;
  display: flex;
  
  min-width: 320px;
  min-height: 100vh;
}
